@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Onest';
  src: url('/assets/fonts/OnestRegular.woff') format('woff');
}

@font-face {
  font-family: 'Onest';
  src: url('/assets/fonts/OnestBold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Onest';
  src: url('/assets/fonts/OnestBlack.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'VelaSans';
  src: url('/assets/fonts/VelaSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'VelaSans';
  src: url('/assets/fonts/VelaSans-Bold.woff2') format('woff2');
  font-weight: bold;
}